.tectical ul {
  padding-left: 20px;
}
.tectical ul li {
  list-style-type: disc;
}
.tectical ul li:not(:last-child) {
  margin-bottom: 5px;
}
.tectical .tecticalInfo {
  margin-bottom: 50px;
}
.tectical .tecticalPoint {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.tectical .tecticalPoint h3 {
  margin-bottom: 10px;
}
.tectical .tecticalPoint .tecticalTable {
  width: 100%;
  border-collapse: collapse;
}
.tectical .tecticalPoint .tecticalTable th,
.tectical .tecticalPoint .tecticalTable td {
  padding: 2.5px 10px;
  text-align: center;
}
.tectical .tecticalPoint .tecticalTable thead {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.tectical .tecticalPoint .tecticalTable tbody tr:nth-child(2n-1) {
  background-color: #ddd;
}
.tectical .tecticalPoint .tecticalTable tbody tr:last-child {
  border-bottom: 2px solid #000;
}
.tectical .tecticalImg {
  display: flex;
  justify-content: space-evenly;
}
.tectical .tecticalImg > img {
  width: 95%;
  height: 300px;
  object-fit: contain;
}
.tectical .tecticalImg.imgSmaller > img {
  height: 220px;
}
.tectical .mcm > h3 {
  margin-bottom: 10px;
}
.tectical .mcm > p {
  padding-left: 10px;
  margin-bottom: 10px;
}
.tectical .mcm .tecticalPoint .tecticalKey {
  width: 30%;
  margin-left: 10px;
}
.tectical .mcm .tecticalPoint .tecticalImg {
  width: 70%;
}
.tectical .mcm .tecticalPoint .tecticalImg > img {
  object-fit: contain;
  height: 100%;
}
.tectical .digital {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 40px;
}
.tectical .digital > p,
.tectical .digital .tecticalPoint {
  width: 55%;
}
.tectical .digital img {
  object-fit: contain;
  width: 40%;
  vertical-align: middle;
}
.tectical .digital .tecticalPoint {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
.tectical.emp .empImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 70px;
}
.tectical.emp .empImg > span {
  width: 40%;
}
.tectical.emp .empImg > span > h4 {
  height: 35px;
  line-height: 30px;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}
.tectical.emp .empImg > span > img {
  width: 90%;
  object-fit: contain;
  margin: 0 5%;
}
.tectical .gnss > p {
  margin-bottom: 30px;
}
.tectical .gnss > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 220px;
  margin-bottom: 60px;
}
.tectical .gnss > div > figure > img {
  width: 95%;
  object-fit: contain;
}
.tectical .gnss > div > figure > figcaption {
  text-align: center;
  font-weight: 700;
}
.tectical .gnssTable {
  display: flex;
  justify-content: space-between;
  height: 250px;
}
.tectical .gnssTable > figure {
  width: 25%;
  height: auto;
}
.tectical .gnssTable > figure > figcaption {
  text-align: center;
  font-weight: 700;
}
.tectical .gnssTable > figure > img {
  width: 100%;
  object-fit: contain;
}
.tectical .gnssTable > table {
  border-collapse: collapse;
}
.tectical .gnssTable > table tr:first-child {
  border-top: 2px solid #000;
}
.tectical .gnssTable > table tr:last-child {
  border-bottom: 2px solid #000;
}
.tectical .gnssTable > table th,
.tectical .gnssTable > table td {
  padding: 5px 10px;
  text-align: start;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.tectical .gnssTable > table th {
  background-color: #ccc;
}
.tectical .drone {
  display: flex;
  gap: 0 30px;
}
.tectical .drone > .tecticalPoint {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  margin-bottom: 0;
}
.tectical .drone > .tecticalPoint > .tecticalApp > ul {
  padding: 10px 30px;
  background-color: #eee;
  border-radius: 10px;
}
.tectical .drone > img {
  width: 40%;
  object-fit: contain;
}
.tectical .drone ~ .tecticalImg {
  margin: 0 auto;
}

.vip > p {
  margin-bottom: 30px;
}
.vip > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 220px;
  margin-bottom: 60px;
}
.vip > div > figure > img {
  height: 100%;
  object-fit: contain;
}
.vip > div > figure > figcaption {
  text-align: center;
  font-weight: 700;
}

.vipTable {
  display: flex;
  justify-content: space-between;
}
.vipTable > table {
  flex: 1.1;
  border-collapse: collapse;
}
.vipTable > table th,
.vipTable > table td {
  padding: 5px 10px;
  text-align: start;
  border: 1px solid #000;
}
.vipTable > table th {
  background-color: #ccc;
}
.vipTable .vipImg {
  flex: 0.9;
}
.vipTable .vipImg > img {
  width: 100%;
  object-fit: contain;
}

.rcied {
  display: flex;
  gap: 0 30px;
}
.rcied > .tecticalPoint {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px 0;
  margin-bottom: 0;
}
.rcied > .tecticalPoint > .tecticalApp > ul {
  padding: 10px 30px;
}
.rcied > .tecticalPoint > .tecticalApp > img {
  width: 100%;
}
.rcied > img {
  width: 35%;
  object-fit: contain;
}

/*# sourceMappingURL=tectical.css.map */
