@import "./reset.scss";
@import "./index.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./lnb.scss";
@import "./tectical.scss";
@import "./sonar.scss";
@import "./unmanned.scss";
@import "./contact.scss";

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  min-height: 100%;

  .main {
    position: relative;
    flex: 1;
    width: 70%;
    margin: 0 auto;
  }

  .sub {
    padding-left: 260px;
  }
}
