$footerHeight: 70;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $footerHeight + px;
  margin-top: 50px;
  background-color: #ddd;

  .footerInfo {
    display: flex;
    width: 550px;
    height: 30px;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.8rem;
    color: #666;

    & > h2,
    & > p {
      line-height: 30px;
    }
  }
}
