.company {
  width: 80%;
  margin: 0 auto;
  .companyInfo {
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;

    & > p {
      font-size: 1.1rem;
      margin-bottom: 20px;
      word-break: keep-all;
    }
  }

  .companyImg {
    & > img {
      width: 100%;
    }
  }
}

.noticePreview {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  margin-top: 30px;

  .noticePost {
    width: 65%;
    height: 100%;
    border: 1px solid #000;
  }

  .noticeImg {
    width: 30%;
    height: 100%;
    border: 1px solid #000;
  }
}
