.sonar {
  .sonarInfo {
    margin-bottom: 50px;
  }

  .sonarPoint {
    display: flex;
    justify-content: space-evenly;

    h3 {
      margin-bottom: 10px;
    }
    ul {
      padding-left: 20px;

      li {
        list-style-type: disc;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    .sonarTable {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 2.5px 10px;
        text-align: center;
      }

      thead {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
      }

      tbody {
        tr {
          &:nth-child(2n-1) {
            background-color: #ddd;
          }

          &:last-child {
            border-bottom: 2px solid #000;
          }
        }
      }
    }
  }

  .sonarImg {
    display: flex;

    & > img {
      object-fit: contain;
      height: 100%;
    }
  }

  // MB side scan sonar --------------------------------------------------------------------------------------
  .mb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 0;

    .sonarPoint {
      gap: 0 100px;
    }

    .sonarImg {
      justify-content: space-evenly;
      width: 100%;

      & > img {
        height: 100%;
      }
    }
  }

  // SB side scan sonar --------------------------------------------------------------------------------------
  .sb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;

    .sonarPoint {
      flex-direction: column;
      justify-content: flex-start;
      gap: 50px 0;
      width: 40%;
    }

    .sonarImg {
      justify-content: space-evenly;
      width: 60%;

      & > img {
        height: 80%;
      }
    }
  }

  // bathy --------------------------------------------------------------------------------------
  .bathy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 0;

    .sonarPoint {
      gap: 0 100px;
    }

    & > .sonarImg {
      justify-content: center;
      width: 100%;

      & > img {
        height: 80%;
      }
    }
  }

  // naval --------------------------------------------------------------------------------------
  .naval {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;

    .sonarPoint {
      flex-direction: column;
      justify-content: flex-start;
      gap: 50px 0;
      width: 60%;

      & > .sonarImg {
        & > img {
          width: 80%;
        }
      }
    }

    & > .sonarImg {
      justify-content: space-evenly;
      width: 40%;

      & > img {
        height: 80%;
      }
    }
  }

  // urn --------------------------------------------------------------------------------------
  .urn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;

    .sonarPoint {
      flex-direction: column;
      justify-content: flex-start;
      gap: 50px 0;
      width: 65%;
    }

    .sonarImg {
      justify-content: space-evenly;
      width: 35%;

      & > img {
        width: 70%;
      }
    }
  }

  // sonar testing---------------------------------------------------------------------------------
  .s_test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;

    .sonarPoint {
      flex-direction: column;
      justify-content: flex-start;
      gap: 50px 0;
      width: 50%;
    }

    .sonarImg {
      justify-content: space-evenly;
      width: 50%;

      & > img {
        height: 60%;
      }
    }
  }
}
